#wrapper{
	width: 1000px;
	margin: 0 auto;
}
button{
	width: 100px;
	margin-left: 450px;
	margin-right: 450px;
	margin-bottom: 5px;
}
#grid {
	overflow: auto;
	margin: auto;
	width: 1000px;
}
.squares {
	background-color: black;
	display: inline-block;
	border: 1px solid white;
}
